<h2>Clientes</h2>
		<ul>
			<li>Cliente 1</li>
			<li>Cliente 2</li>
			<li>Cliente 3</li>
		</ul>
		<p>
			Esta es la parte de clientes en la que se muestra información de cada uno
			de ellos.
		</p>