<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<style>
		body { background-color: beige;
		font-family: "verdana";
		padding: 1em;
		}
		
	</style>
	<body>
		<h1>Utilizando Handlebars</h1>
		<span>
			<a href="/home">Home</a>
			|
			<a href="/clientes">Clientes</a>
			|
		</span>
		<hr />
		<!-- Inicio del contenido dinámico -->
		{{{body}}}
		<!-- Fin del contenido dinámico -->


	</body>
</html>