<div class="contact-section">
    <div>
        <h1 class="section-title-send">Contacto</h1>

        {{#if success}}
        <div class="success-message-send">
            ✓ Mensaje enviado. ¡Gracias!
        </div>
        {{/if}}
        <button onclick="history.back()" class="btn-primary" style="margin-top: -150px;">← Volver</button>
        
    </div>

    
</div>


