<h1>Contacto</h1>
{{#if success}}<p style="color:green">Mensaje enviado. Gracias!</p>{{/if}}
<form method="POST" action="/contacto">
  <label>Nombre</label><br/>
  <input name="nombre" required/><br/>
  <label>Email</label><br/>
  <input name="email" type="email" required/><br/>
  <label>Mensaje</label><br/>
  <textarea name="mensaje" required></textarea><br/>
  <button type="submit">Enviar</button>
</form>
